@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

listview {
    padding:      2px 0px 0px ;
    scrollbar:    false ;
    border-color: var(separatorcolor) ;
    spacing:      2px ;
    border:       0 ;
    lines:        3 ;
}